{% extends 'base.html.twig' %}

{% block body %}
    <div id="content">

    </div>

    {% block stylesheets %}
        {{ parent() }}

        <script type="text/babel" src="{{ asset('bundles/app/js/requester.js') }}"></script>
    {% endblock %}
{% endblock %}
